<html>
    <body>
        <h1>{{appTitle}}</h1>
        <div>
            <label for="appTitle">Input your new title</label>
            <!-- One-Way Binding to input box -->
            <!-- Edit app title: <input type="text" [value]="appTitle" placeholder="Enter the title here">    -->

            <!-- Two-Way Data Binding using ngModelChange -->
            <!-- <input type="text" [ngModel]="appTitle" (ngModelChange)="appTitle=$event" placeholder="Enter a name here">  -->

            <!-- Two-Way Data using [(banana in a box)] -->
            <input type="text" [(ngModel)]="appTitle" placeholder="Enter the title here">
        </div>
        <hr/>
        <div>
            <span>Current Time: {{currentDateTime}}</span>
            <button (click)="setCurrentTime()">Refresh Time</button> 
        
        </div>

    </body>
</html>
